<%- include('partials/header') %>
<h1>Edit Project</h1>
<form action="/admin/edit/<%= project.id %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="existing_background_img" value="<%= project.background_img %>">
    <input type="hidden" name="existing_img2" value="<%= project.img2 %>">
    <input type="hidden" name="existing_img3" value="<%= project.img3 %>">
    <input type="hidden" name="existing_img4" value="<%= project.img4 %>">

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= project.title %>" required><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required><%= project.description %></textarea><br>

    <label for="github_link">GitHub Link:</label>
    <input type="url" id="github_link" name="github_link" value="<%= project.github_link %>"><br>

    <label for="live_demo">Live Demo:</label>
    <input type="url" id="live_demo" name="live_demo" value="<%= project.live_demo %>"><br>

    <label for="background_img">Background Image:</label>
    <input type="file" id="background_img" name="background_img"><br>
    Current Image: <img src="<%= project.background_img %>" alt="Current Background" width="100"><br>

    <label for="img2">Image 2:</label>
    <input type="file" id="img2" name="img2"><br>
    Current Image: <img src="<%= project.img2 %>" alt="Current Image 2" width="100"><br>

    <label for="img3">Image 3:</label>
    <input type="file" id="img3" name="img3"><br>
    Current Image: <img src="<%= project.img3 %>" alt="Current Image 3" width="100"><br>

    <label for="img4">Image 4:</label>
    <input type="file" id="img4" name="img4"><br>
    Current Image: <img src="<%= project.img4 %>" alt="Current Image 4" width="100"><br>

    <label for="walkthrough_step1">Walkthrough Step 1:</label>
    <input type="text" id="walkthrough_step1" name="walkthrough_step1" value="<%= project.walkthrough_step1 %>"><br>

    <label for="walkthrough_step2">Walkthrough Step 2:</label>
    <input type="text" id="walkthrough_step2" name="walkthrough_step2" value="<%= project.walkthrough_step2 %>"><br>

    <label for="walkthrough_step3">Walkthrough Step 3:</label>
    <input type="text" id="walkthrough_step3" name="walkthrough_step3" value="<%= project.walkthrough_step3 %>"><br>

    <button type="submit">Update Project</button>
</form>
<%- include('partials/footer') %>
