<%- include('partials/header') %>
<link rel="stylesheet" href="/css/projects.css">
<div class="container mt-5">
    <h1 class="text-center mb-5">Projects</h1>
    <div class="row">
        <% projects.forEach(project => { %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <a href="/projects/<%= project.id %>">
                        <img src="<%= project.background_img %>" class="card-img-top" alt="Project Image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= project.title %></h5>
                        <p class="card-text"><%= project.short_description %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<%- include('partials/footer') %>
